<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MINAMIN Portfolio</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/project/first/index.css">
</head>
<body>

    <!----로딩화면---->
    <div class="content">
        <div class="loader">
            <span class="loader_letter one">M</span>
            <span class="loader_letter two">I</span>
            <span class="loader_letter three">N</span>
            <span class="loader_letter four">A</span>
            <span class="loader_letter five">M</span>
            <span class="loader_letter six">I</span>
            <span class="loader_letter seven">N</span>
        </div>
    </div>
    <!----로딩화면_end---->

    <!----main---->
    <!----wrap---->
    <div id="wrap">
        <!----header---->
        <div id="header_wrap">
            <header>
                <!----logo---->
                <div id="logo">
                    <a href="index.html">MINAMIN</a>
                </div>
                <!----logo_end---->

                <!----nav_bar---->
                <div class="row">
                    <div class="block">
                        <div class="cta">
                            <div class="toggle-btn type16"></div>
                        </div>
                    </div>
                </div>
                <!----nav_bar_end---->
            </header>
        </div>
        <!----header_end---->

        <!----nav---->
        <div id="nav_wrap">
            <nav>
                <ul>
                    <a href="index.html">
                        <li class="first">
                            <i class="material-icons">home</i>
                            <p>HOME</p>
                        </li>
                    </a>

                    <a href="about.html">
                        <li>
                            <i class="material-icons">face</i>
                            <p>ABOUT</p>
                        </li>
                    </a>

                    <a href="portfolio.html">
                        <li>
                            <i class="material-icons">chrome_reader_mode</i>
                            <p>PORT</br>FOLIO</p>
                        </li>
                    </a>

                    <a href="contact.html">
                        <li>
                            <i class="material-icons">contact_mail</i>
                            <p>CONTACT</p>
                        </li>
                    </a>
                </ul>
            </nav>
        </div>
        <!----nav_end---->

        <!----section---->
        <section id="main_wrap">

            <article id="main">
                <!----about---->
                <div class="about_wrap">
                    <a href="about.html">
                        <div class="about">
                            <span class="about_text">About</span>
                        </div>
                    </a>
                </div>
                <!----about---->

                <!----portfolio---->
                <div class="portfolio_wrap">
                    <a href="portfolio.html">
                        <div class="portfolio">
                            <span class="portfolio_text">Portfolio</span>
                        </div>
                    </a>
                </div>
                <!----portfolio_end---->

                <!----intro_text---->
                <div class="intro_text">
                    <div class="introduce">Introduce</div>
                    <div class="my_portfolio">My portfolio</div>
                </div>
                <!----intro_text_end---->

                <!----contact---->
                <div class="contact_wrap">
                    <a href="contact.html">
                        <div class="contact">
                            <span class="contact_text">Contact</span>
                        </div>
                    </a>
                </div>
                <!----contact_end---->
            </article>
        </section>
        <!----section_end---->
    </div>
    <!----wrap_end---->
    <!----main_end---->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
            integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
            crossorigin="anonymous"></script>
    <script src="/js/project/first/index.js" type="text/javascript" text="javascript"></script>
</body>
</html>