
<!-- S: header -->
{{>layout/header}}
<!-- E: header -->

<h1>Project List</h1>

<div>
    <div>
        <a href="/findOneFirstProject" role="button" class="btn btn-primary">First Project</a>
    </div>
</div>

<!-- S: footer -->
{{>layout/footer}}
<!-- E: footer -->



