
<!-- S: header -->
{{>layout/header}}
<!-- E: header -->

<h1>MINAMIN Web Service (DevTools)</h1>
<script src="/js/app/index.js"></script>

<!-- S: footer -->
{{>layout/footer}}
<!-- E: footer -->






